@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body {
    font-family: "Roboto", ui-sans-serif, system-ui, -apple-system;
  }

  ul {
    list-style-type: none;
  }

  h2 {
    font-weight: normal;
  }
}

@layer components {
  .logo {
    @apply flex items-center text-white no-underline text-xl font-medium;
  }

  .menu {
    @apply inline-block relative py-3.5 px-5 self-stretch;
  }

  .profile {
    @apply flex;
  }

  .profile p, .profile a {
    @apply flex items-center;
  }

  .restaurant__meta {
    @apply flex font-medium justify-between items-center mb-2.5;
  }

  .restaurant__rating {
    @apply py-1.5 flex items-center;
  }

  .restaurant__rating ul {
    @apply flex;
  }

  .restaurant__rating svg {
    @apply w-8 h-8 text-yellow-400;
  }

  .restaurant__rating span {
    @apply text-gray-400;
  }

  .actions {
    @apply absolute z-10 -bottom-8 right-0 flex justify-end;
  }

  .actions .review {
    @apply cursor-pointer bg-yellow-400 rounded-xl shadow-lg;
  }

  .actions .add {
    @apply shadow-lg bg-orange-500 rounded-full cursor-pointer h-16;
  }

  .actions :where(.review, .add) {
    @apply mx-8;
  }
}

@layer utilities {
  .image-cover {
    @apply w-full h-full object-cover max-h-[300px] min-h-[300px] relative;
  }

  .image-cover img {
    @apply w-full h-full object-cover absolute;
  }
}

/* Custom styles that don't fit well with Tailwind */
dialog[open] {
  position: fixed;
  width: 80vw;
  height: 50vh;
  min-height: 270px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  border-width: 0px;
  border-radius: 0.75rem;
  box-shadow: -7px 12px 14px 6px rgb(0 0 0 / 0.2);
}

dialog::backdrop {
  background-color: #F6F7F9;
  opacity: 0.8;
}

/* Star rating styles */
.star-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.radio-input {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.radio-label {
  cursor: pointer;
  font-size: 0;
  color: rgba(0, 0, 0, 0.2);
  transition: color 0.1s ease-in-out;
}

.radio-label:before {
  content: "★";
  display: inline-block;
  font-size: 32px;
}

.radio-input:checked ~ .radio-label {
  color: #ffc700;
  color: gold;
}

.radio-label:hover,
.radio-label:hover ~ .radio-label {
  color: goldenrod;
}

.radio-input:checked + .radio-label:hover,
.radio-input:checked + .radio-label:hover ~ .radio-label,
.radio-input:checked ~ .radio-label:hover,
.radio-input:checked ~ .radio-label:hover ~ .radio-label,
.radio-label:hover ~ .radio-input:checked ~ .radio-label {
  color: darkgoldenrod;
}

/* More custom styles... */